td {
    text-indent: 5px;
    padding: 5px 0;
}

table {
    border-collapse: collapse;
    border-width: 0;
    margin: 0;
}

    table table th {
        border-top-width: 0px;
        border-left-width: 0;
        border-right-width: 0;
    }

    table table td {
        border-left-width: 0;
        border-bottom-width: 0;
    }

        table table td:last-child {
            border-left-width: 0;
            border-right-width: 0;
            border-bottom-width: 0;
        }

th, td {
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #333;
}
